body{
    background: linear-gradient(90deg,#9837ff,#3d7ef2,#00f7d4);
    
}
.card{
    margin-top: 30px;
    text-align: center;
    opacity: 0.75;
    border:darkslategray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}
.card:hover{
    border:#9837ff;
    box-shadow: 0 10px 40px 0 rgba(0, 247, 212,0.9); 
}