<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alugando...</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Alugando o Item</h1>

    <hr/>

    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-head">
                <h2 id="nomeItemAlugando">Nome do item: </h2>
                <h2 style="padding-left: 10px;">Playstation 4</h2>
            </div>
            <div class="card-body">
                <img src="https://images.livrariasaraiva.com.br/imagemnet/imagem.aspx/?pro_id=6064986&qld=90&l=430&a=-1">
                <p>Descrição : ................</p>
                <span class="badge badge-info">Método de pagamento</span> 
                <div class="row" style="padding-top: 10px;">
                <br/> 
                <br/>
                    <img src="https://cdn4.iconfinder.com/data/icons/shopping-set-2/512/18-512.png" style="padding-left: 10px; max-width: 10%; ">
                    <img src="https://aprendainvestimentos.com/wp-content/uploads/2016/07/icon-pag-boleto.png" style="padding-left: 10px; max-width: 10%;">
                    <img src="https://cdn.pixabay.com/photo/2016/03/31/21/41/cash-1296585_960_720.png" style="padding-left: 10px; max-width: 10%;">
                    <img src="http://www.logosvectorfree.com/wp-content/uploads/2017/12/Paypal-Logo-PNG-Vectors.png" style="padding-left: 10px; max-width: 10%;">
                    <img src="https://www.linknacional.com.br/wp-content/uploads/2018/09/moip-wiredcard-company.png" style="padding-left: 10px; max-width: 10%;">
                <br/>

                </div>
            </div>
            
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>